@model Projet2Crowdfunding.ViewModels.AccountViewModel
@{
    Layout = "_LayoutDuSite";
}
<link rel="stylesheet" href="~/css/dashbord.css">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<title>Dashboard</title>

@section Menu
{
    @if (Model.Authentify)
    {
        if (Model.Account.Role == "participant")
        {
            <div class="col-md-8 d-flex justify-content-around">
                <a class="nav-link" id="nav-active" href="/Home/Index"><strong>HOME</strong></a>
                <a class="nav-link" id="nav-elements" href="/Project/Index"><strong>DECOUVRIR UN PROJET</strong></a>
                <a class="nav-link" id="nav-elements" href="#"><strong>LANCER UN PROJET</strong></a>
                <a class="nav-link" id="nav-elements" href="/Participant/PDashboard"><strong>MON COMPTE</strong></a>
            </div>
            <div class="col-md-2 d-flex justify-content-end align-items-center">
                <a id="bouton-log" href="/Account/Deconnexion">SE DECONNECTER</a>
            </div>
        }
        else if (Model.Account.Role == "po")
        {
            <div class="col-md-8 d-flex justify-content-around">
                <a class="nav-link" id="nav-active" href="/Home/Index"><strong>HOME</strong></a>
                <a class="nav-link" id="nav-elements" href="/Project/Index"><strong>DECOUVRIR UN PROJET</strong></a>
                <a class="nav-link" id="nav-elements" href="#"><strong>LANCER UN PROJET</strong></a>
                <a class="nav-link" id="nav-elements" href="/ProjectOwner/PODashboard"><strong>MON COMPTE</strong></a>
            </div>
            <div class="col-md-2 d-flex justify-content-end align-items-center">
                <a id="bouton-log" href="/Account/Deconnexion">SE DECONNECTER</a>
            </div>
        }
        else // role == "admin"
        {
            <div class="col-md-8 d-flex justify-content-around">
                <a class="nav-link" id="nav-active" href="/Home/Index"><strong>HOME</strong></a>
                <a class="nav-link" id="nav-elements" href="/Project/Index"><strong>DECOUVRIR UN PROJET</strong></a>
                <a class="nav-link" id="nav-elements" href="#"><strong>LANCER UN PROJET</strong></a>
                <a class="nav-link" id="nav-elements" href="/Admin/AdminDashboard"><strong>MON COMPTE</strong></a>
            </div>
            <div class="col-md-2 d-flex justify-content-end align-items-center">
                <a id="bouton-log" href="/Account/Deconnexion">SE DECONNECTER</a>
            </div>
        }
    }
    else
    {
        <div class="col-md-8 d-flex justify-content-around">
            <a class="nav-link" id="nav-active" href="/Home/Index"><strong>HOME</strong></a>
            <a class="nav-link" id="nav-elements" href="/Project/Index"><strong>DECOUVRIR UN PROJET</strong></a>
            <a class="nav-link" id="nav-elements" href="#"><strong>LANCER UN PROJET</strong></a>
        </div>
        <div class="col-md-2 d-flex justify-content-end align-items-center">
            <a id="bouton-log" href="/Account/LoginPage">SE CONNECTER</a>
        </div>
    }
}

<div class="dashboard-container">
    <div class="row">


        <div class="col-sm-3">

            <div class="sidebar position-fixed bg-white border-MACS">
                <ul class="nav flex-column nav-pills" role="tablist" aria-orientation="vertical">
                    <li class="nav-item pill-1">
                        <a class="nav-link" data-bs-toggle="pill" href="" onclick="document.location=document.location.toString().split('#')[0]+'#';return false;"><i class="fa fa-tachometer fa-fw me-3"></i>Dashboard</a>
                    </li>
                    <li class="nav-item pill-1">
                        <a class="nav-link active" data-bs-toggle="pill" href="" onclick="document.location=document.location.toString().split('#')[0]+'#row-infos';return false;"><i class="fa fa-info fa-fw me-3"></i>Informations</a>
                    </li>
                    <li class="nav-item pill-1">
                        <a class="nav-link" data-bs-toggle="pill" href="" onclick="document.location=document.location.toString().split('#')[0]+'#row-phone';return false;"><i class="fa fa-phone fa-fw me-3"></i>Téléphone</a>
                    </li>
                    <li class="nav-item pill-1">
                        <a class="nav-link" data-bs-toggle="pill" href="" onclick="document.location=document.location.toString().split('#')[0]+'#row-email';return false;"><i class="fa fa-envelope-o fa-fw me-3"></i>Email</a>
                    </li>
                    <li class="nav-item pill-1">
                        <a class="nav-link" data-bs-toggle="pill" href="" onclick="document.location=document.location.toString().split('#')[0]+'#row-pwd';return false;"><i class="fa fa-key me-3"></i>Mot de passe</a>
                    </li>
                    <li class="nav-item pill-1">
                        <a class="nav-link" data-bs-toggle="pill" href="" onclick="document.location=document.location.toString().split('#')[0]+'#row-POToValidate';return false;"><i class="fa fa-check-square-o fa-fw me-3"></i>Asso(s)/ONG(s) à valider</a>
                    </li>
                    <li class="nav-item pill-1">
                        <a class="nav-link" data-bs-toggle="pill" href="" onclick="document.location=document.location.toString().split('#')[0]+'#row-PToValidate';return false;"><i class="fa fa-check-square-o fa-fw me-3"></i>Projet(s) à valider</a>
                    </li>
                    <li class="nav-item pill-1">
                        <a class="nav-link" data-bs-toggle="pill" onclick='window.location.href="@Url.Action("GpInscription", "Account")";' style="cursor: pointer"><i class="fa fa-pencil-square-o fa-fw me-3"></i>Création Compte Admin</a>
                    </li>
                </ul>

            </div>
        </div>

        <div class="col-sm-9">


            <div class="main-content">

                <div class="row-content border-MACS">
                    <div id="row-infos"></div>
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-5"><a><strong>Nom: </strong>@Model.Administrator.LastName</a></div>
                            <div class="col-md-5"><a><strong>Prénom: </strong>@Model.Administrator.FirstName</a></div>
                            <div class="col-md-2">

                                <div class="container">
                                    <button type="button" class="btn btn-outline-dark" data-bs-toggle="modal" data-bs-target="#infosModal">
                                        Modifier
                                    </button>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="row-content border-MACS">
                    <div id="row-phone"></div>
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-10"><a><strong>Téléphone: </strong>@Model.Administrator.PhoneNumber</a></div>
                            <div class="col-md-2">

                                <div class="container">
                                    <button type="button" class="btn btn-outline-dark" data-bs-toggle="modal" data-bs-target="#phoneModal">
                                        Modifier
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="row-content border-MACS">
                    <div id="row-email"></div>
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-10"><a><strong>E-mail: </strong>@Model.Account.Mail</a></div>
                            <div class="col-md-2">

                                <div class="container">
                                    <button type="button" class="btn btn-outline-dark" data-bs-toggle="modal" data-bs-target="#emailModal">
                                        Modifier
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="row-content border-MACS">
                    <div id="row-pwd"></div>
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-10"><a><strong>Mot de passe</strong></a></div>
                            <div class="col-md-2">

                                <div class="container">
                                    <button type="button" class="btn btn-outline-dark" data-bs-toggle="modal" data-bs-target="#pwdModal">
                                        Modifier
                                    </button>
                                </div>
                            </div>



                        </div>
                    </div>

                </div>

                <div class="row-content border-MACS">
                    <div id="row-POToValidate"></div>
                    <div class="col-md-12">
                        <a><strong>Liste des associations/ONGs à valider</strong></a>
                        <div class="container mt-3">
                            <table class="table table-striped">
                                <thead>
                                    <tr style="text-align:center">
                                        <th>Nom</th>
                                        <th>Type</th>
                                        <th>Justificatifs</th> @*AssociationProof*@
                                        <th>Charte approuvée</th> @*ConfidentialityCharter*@
                                        <th></th>


                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var ProjectOwner in Model.ProjectOwnerList)
                                    {
                                        {
                                            <tr style="text-align:center">
                                                <td>@ProjectOwner.Name</td>
                                                <td>@ProjectOwner.Type</td>
                                                <td>
                                                    @if (ProjectOwner.AssociationProof != null)
                                                    {
                                                        <i class="fa fa-check fa-fw me-3"></i>
                                                    }
                                                </td>
                                                <td>
                                                    @if (ProjectOwner.ConfidentialityCharter == true)
                                                    {
                                                        <i class="fa fa-check fa-fw me-3"></i>
                                                    }
                                                </td>
                                                <td>
                                                    <button type="button" class="btn btn-outline-dark btn-sm" data-bs-toggle="modal" data-bs-target="#statusModal">
                                                        Status
                                                    </button>
                                                </td>
                                            </tr>

                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>

                <div class="row-content border-MACS">
                    <div id="row-PToValidate"></div>
                    <div class="col-md-12">
                        <a><strong>Liste des projet(s) à valider</strong></a>
                        <div class="container mt-3">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Nom</th>
                                        <th>Catégorie</th>
                                        <th>Localisation</th>
                                        <th>Résumé</th>
                                        <th>Description</th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var Project in Model.ProjectList)
                                    {
                                    <tr style="text-align:center">
                                        <td>@Project.Name</td>
                                        <td>@Project.Category</td>
                                        <td>@Project.Location</td>
                                        <td>
                                            <button type="button" class="btn btn-outline-dark btn-sm" data-bs-toggle="modal" data-bs-target="#summaryModal">
                                                Voir
                                            </button>
                                        </td>
                                        <td>
                                            <button type="button" class="btn btn-outline-dark btn-sm" data-bs-toggle="modal" data-bs-target="#descriptionModal">
                                                Voir
                                            </button>
                                        </td>
                                        <td>
                                            <button type="button" class="btn btn-outline-dark btn-sm" data-bs-toggle="modal" data-bs-target="#statusModal">
                                                Status
                                            </button>
                                        </td>
                                    </tr>

                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </div>


        </div>
    </div>


</div>

<!-- The infosModal -->
<div class="modal" id="infosModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header clearfix">
                <div class="mx-auto"><h3>Changez vos informations personnelles</h3></div>
                <span class="float-end"><button type="button" class="btn-close" data-bs-dismiss="modal"></button></span>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="text-center border rounded-3 p-3">
                                <p>Modifiez les champs nécessaires</p>
                                <div class="panel-body">
                                    <fieldset class="d-grid">
                                        @using (Html.BeginForm("ModifyAdminInfos", "Admin"))
                                        {
                                            <div class="form-group">
                                                @Html.HiddenFor(m => m.Administrator.Id)
                                                @Html.TextBoxFor(m => m.Administrator.LastName, new { @class = "form-control input-lg mt-2", placeholder = "Nom" })
                                                <div style="padding-bottom:10px">@Html.TextBoxFor(m => m.Administrator.FirstName, new { @class = "form-control input-lg mt-2", placeholder = "Prénom" })</div>
                                            </div>
                                            <input class="btn btn-primary btn-block mt-3" value="Validez" type="submit">
                                        }
                                    </fieldset>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer border-top-0">
                <button type="button" class="btn btn-outline-dark" data-bs-dismiss="modal">Annuler</button>
            </div>

        </div>
    </div>
</div>

<!-- The phoneModal -->
<div class="modal" id="phoneModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header clearfix">
                <div class="mx-auto"><h3>Changez votre téléphone</h3></div>
                <span class="float-end"><button type="button" class="btn-close" data-bs-dismiss="modal"></button></span>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="text-center border rounded-3 p-3">
                                <p>Rentrez un numéro de téléphone valide</p>
                                <div class="panel-body">
                                    <fieldset class="d-grid">
                                        @using (Html.BeginForm("ModifyAdminPhone", "Admin"))
                                        {
                                            @Html.HiddenFor(m => m.Administrator.Id)
                                            <div class="form-group">
                                                @Html.TextBoxFor(m => m.Administrator.PhoneNumber, new { @class = "form-control input-lg mt-2", placeholder = "Téléphone" })
                                            </div>
                                            <input class="btn btn-primary btn-block mt-3" value="Validez" type="submit">
                                        }
                                    </fieldset>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer border-top-0">
                <button type="button" class="btn btn-outline-dark" data-bs-dismiss="modal">Annuler</button>
            </div>

        </div>
    </div>
</div>

<!-- The emailModal -->
<div class="modal" id="emailModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header clearfix">
                <div class="mx-auto"><h3>Changez votre adresse e-mail</h3></div>
                <span class="float-end"><button type="button" class="btn-close" data-bs-dismiss="modal"></button></span>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="text-center border rounded-3 p-3">
                                <p>Rentrez une adresse e-mail valide</p>
                                <div class="panel-body">
                                    <fieldset class="d-grid">
                                        @using (Html.BeginForm("ModifyAdminEmail", "Admin"))
                                        {
                                            @Html.HiddenFor(m => m.Account.Id)
                                            <div class="form-group">
                                                @Html.TextBoxFor(m => m.Account.Mail, new { @class = "form-control input-lg mt-2", placeholder = "Téléphone" })
                                            </div>
                                            <input class="btn btn-primary btn-block mt-3" value="Validez" type="submit">
                                        }
                                    </fieldset>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer border-top-0">
                <button type="button" class="btn btn-outline-dark" data-bs-dismiss="modal">Annuler</button>
            </div>

        </div>
    </div>
</div>

<!-- The pwdModal -->
<div class="modal" id="pwdModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header clearfix">
                <div class="mx-auto"><h3>Changez votre mot de passe</h3></div>
                <span class="float-end"><button type="button" class="btn-close" data-bs-dismiss="modal"></button></span>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="text-center border rounded-3 p-3">
                                <p>Rentrez un mot de passe de 8 caractères</p>
                                <div class="panel-body">
                                    <fieldset class="d-grid">
                                        @using (Html.BeginForm("ModifyAdminPwd", "Admin"))
                                        {
                                            @Html.HiddenFor(m => m.Account.Id)
                                            <div class="form-group">
                                                @Html.PasswordFor(m => m.Account.Password, new { @class = "form-control input-lg mt-2", placeholder = "Mot de passe" })
                                            </div>
                                            <input class="btn btn-primary btn-block mt-3" value="Validez" type="submit">
                                        }
                                    </fieldset>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer border-top-0">
                <button type="button" class="btn btn-outline-dark" data-bs-dismiss="modal">Annuler</button>
            </div>

        </div>
    </div>
</div>

<!-- The summaryModal -->
<div class="modal" id="summaryModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header clearfix">
                <div class="mx-auto"><h3>Résumé</h3></div>
                <span class="float-end"><button type="button" class="btn-close" data-bs-dismiss="modal"></button></span>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="text-center border rounded-3 p-3">
                                <div class="panel-body">
                                    @Html.HiddenFor(m => m.Project.Id)
                                    <fieldset class="d-grid">
                                        @Html.TextAreaFor(m => m.Project.Summary, new { @class = "form-control input-lg mt-2", placeholder = "Résumé", rows = "4" })
                                    </fieldset>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer border-top-0">
                <button type="button" class="btn btn-outline-dark" data-bs-dismiss="modal">Fermer</button>
            </div>

        </div>
    </div>
</div>

<!-- The descriptionModal -->
<div class="modal" id="descriptionModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header clearfix">
                <div class="mx-auto"><h3>Description</h3></div>
                <span class="float-end"><button type="button" class="btn-close" data-bs-dismiss="modal"></button></span>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="text-center border rounded-3 p-3">
                                <div class="panel-body">
                                    <fieldset class="d-grid">
                                        test Description
                                    </fieldset>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer border-top-0">
                <button type="button" class="btn btn-outline-dark" data-bs-dismiss="modal">Fermer</button>
            </div>

        </div>
    </div>
</div>


@section Footer
    {
    <div class="newsletter-subscribe container">
        <div class="container">
            <div class="intro">
                <h2 class="text-center newsletter">Inscrivez-vous à notre newsletter</h2>
                <p class="text-center">Recevez de nouveaux projets dans votre boite chaque semaine !</p>
            </div>
            <form class="row" method="post">
                <div class="col-md-6"><input class="form-control" type="email" name="email" placeholder="Votre Email"></div>
                <div class="col-md-2"><button class="btn btn-primary" type="button">S'abonner </button></div>
            </form>

        </div>
    </div>
}
