@model Projet2Crowdfunding.ViewModels.AccountViewModel


@{
    Layout = "_LayoutDuSite";
}
<title>Project</title>
<link rel="stylesheet" type="text/css" href="~/css/grid.css">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>

<style>
    .progress {
        position: relative;
    }

        .progress span {
            position: absolute;
            display: block;
            width: 100%;
            color: black;
        }
</style>


<script>
    function myFunction() {
        document.getElementById("demo").innerHTML = "YOU CLICKED ME!";
    }
</script>
<script>
    var i = 0;
    function buttonClick() {
        i++;
        document.getElementById('inc').value = i;
    }
</script>
<script>
    function copyToClipboard(element) {
        var $temp = $("<input>");
        $("body").append($temp);
        $temp.val($(element).text()).select();
        document.execCommand("copy");
        $temp.remove();
    }
</script>

<script>
    let counterDisplayElem = document.querySelector('.counter-display');
    let counterMinusElem = document.querySelector('.counter-minus');
    let counterPlusElem = document.querySelector('.counter-plus');
    let count = 0;
    updateDisplay();
    counterPlusElem.addEventListener("click", () => {
        counter++;
        updateDisplay();

    });
    counterMinusElem.addEventListener("click", () => {
        count--;
        updateDisplay();
    });
    function updateDisplay() {
        counterDisplayElem.innerHTML = count;
    };
</script>

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
<style>
    <!--.fakeimg {
        height: 200px;
        background: #aaa;
    }-->
    .demo-1 {
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
    }
</style>

@section Menu
{
    @if (Model.Authentify)
    {
        if (Model.Account.Role == "participant")
        {
            <div class="col-md-8 d-flex justify-content-around">
                <a class="nav-link" id="nav-elements" href="/Home/Index"><strong>HOME</strong></a>
                <a class="nav-link" id="nav-active" href="/Project/Index"><strong>DECOUVRIR UN PROJET</strong></a>
                <a class="nav-link" id="nav-elements" href="/CreateProject/Index"><strong>LANCER UN PROJET</strong></a>
                <a class="nav-link" id="nav-elements" href="/Participant/PDashboard"><strong>MON COMPTE</strong></a>
            </div>
            <div class="col-md-2 d-flex justify-content-end align-items-center">
                <a id="bouton-log" href="/Account/Deconnexion">SE DECONNECTER</a>
            </div>
        }
        else if (Model.Account.Role == "po")
        {
            <div class="col-md-8 d-flex justify-content-around">
                <a class="nav-link" id="nav-elements" href="/Home/Index"><strong>HOME</strong></a>
                <a class="nav-link" id="nav-active" href="/Project/Index"><strong>DECOUVRIR UN PROJET</strong></a>
                <a class="nav-link" id="nav-elements" href="/CreateProject/Index"><strong>LANCER UN PROJET</strong></a>
                <a class="nav-link" id="nav-elements" href="/ProjectOwner/PODashboard"><strong>MON COMPTE</strong></a>
            </div>
            <div class="col-md-2 d-flex justify-content-end align-items-center">
                <a id="bouton-log" href="/Account/Deconnexion">SE DECONNECTER</a>
            </div>
        }
        else // role == "admin"
        {
            <div class="col-md-8 d-flex justify-content-around">
                <a class="nav-link" id="nav-elements" href="/Home/Index"><strong>HOME</strong></a>
                <a class="nav-link" id="nav-active" href="/Project/Index"><strong>DECOUVRIR UN PROJET</strong></a>
                <a class="nav-link" id="nav-elements" href="/CreateProject/Index"><strong>LANCER UN PROJET</strong></a>
                <a class="nav-link" id="nav-elements" href="/Admin/AdminDashboard"><strong>MON COMPTE</strong></a>
            </div>
            <div class="col-md-2 d-flex justify-content-end align-items-center">
                <a id="bouton-log" href="/Account/Deconnexion">SE DECONNECTER</a>
            </div>
        }
    }
    else
    {
        <div class="col-md-8 d-flex justify-content-around">
            <a class="nav-link" id="nav-elements" href="/Home/Index"><strong>HOME</strong></a>
            <a class="nav-link" id="nav-active" href="/Project/Index"><strong>DECOUVRIR UN PROJET</strong></a>
            <a class="nav-link" id="nav-elements" href="/CreateProject/Index"><strong>LANCER UN PROJET</strong></a>
        </div>
        <div class="col-md-2 d-flex justify-content-end align-items-center">
            <a id="bouton-log" href="/Account/LoginPage">SE CONNECTER</a>
        </div>
    }
}


<div class="container mt-5">
    <div class="row">
        <div class="col-lg-8 col-sm-8 col-md-8">
            <!-- <div class="led-box" style="position:-ms-page" title="Ce projet est en cours">
                <div class="led-green"></div>
            </div>-->

            <div class="card-header" style="  border:1px solid #d6d6d6; border-radius: 14px;">
                <div class="card-body" style="width:800px ;height:612px;">
                    <h5 class="card-title">
                        <i class="fa fa-map-marker"></i><a href="https://www.google.com/maps/place/@Model.Project.Location"> @Model.Project.Location</a> , @Model.ProjectOwner.Name se mobilise pour son nouveau projet:
                        @Model.Project.Name
                    </h5>
                    <!-- Carousel -->
                    <div id="demo" class="carousel slide" data-bs-ride="carousel">

                        <!-- Indicators/dots -->
                        <div class="carousel-indicators">
                            <button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>
                            <button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
                        </div>

                        <!-- The slideshow/carousel -->
                        <div class="carousel-inner" data-interval="50">
                            <div class="carousel-item active">
                                <iframe width="560" height="500" src="@Model.Project.Video"
                                        title="YouTube video player" frameborder="0"
                                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                        allowfullscreen alt="Ouragon" class="d-block" style="width:100%"></iframe>
                                <!--<video width="560" height="500" controls>
                                    <source src=@Model.Project.Video type="video/mp4">
                                    Votre explorateur ne supporte pas la balise video.
                                </video>-->
                            </div>
                            <div class="carousel-item">
                                <img src=@Model.Project.Picture alt="Ouragon" class="d-block" style="width:100%">
                            </div>

                            <!-- <div class="carousel-item">
                                <img src="images/noye.png" alt="noye" class="d-block" style="width:100%">
                            </div> -->
                        </div>

                        <!-- Left and right controls/icons -->
                        <button class="carousel-control-prev" type="button" data-bs-target="#demo"
                                data-bs-slide="prev">
                            <span class="carousel-control-prev-icon"></span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#demo"
                                data-bs-slide="next">
                            <span class="carousel-control-next-icon"></span>
                        </button>
                    </div>

                    <div class="container-fluid mt-3">

                    </div>
                    <div style="border-bottom:2px solid #d6d6d6; padding:15px 0px 25px 0px;"></div>

                </div>
            </div>

        </div>
        <div class="col-lg-4 col-sm-4 col-md-4">
            <div class="card-header"
                 style="width:400px; height:630px;border:1px solid #d6d6d6;border-radius: 14px;">
                <div id="assoLogo">
                    <img class="card-img-top" src="@Model.ProjectOwner.Image" alt="Card image"
                         style="width:25%; border:1px solid #d6d6d6;border-radius:100px;" data-bs-toggle="popover"
                         ; title=@Model.ProjectOwner.Name>
                    <!--
                        <a href="/ProjectOwner/POPage"><img class="card-img-top" src="@Model.ProjectOwner.Image" alt="Card image"
                                                          style="width:15%; border:1px solid #d6d6d6;border-radius:100px;" data-bs-toggle="popover"
                                                          ; title=@Model.ProjectOwner.Name></a>-->
                    <script>
                        var popoverTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="popover"]'))
                        var popoverList = popoverTriggerList.map(function (popoverTriggerEl) {
                            return new bootstrap.Popover(popoverTriggerEl)
                        })
                    </script>
                </div>
                <div class="card-body">
                    <h4 class="card-title">@Model.Project.Name</h4>
                    <img class="card-img-top" src="~/Images/countdown.jpg" alt="Card image"
                         style="width:100%; border:1px solid #d6d6d6; border-radius:14px;">
                    <p class="card-text">
                        <h6>Aperçu</h6>
                    <p class="demo-1">
                        @Model.Project.Summary
                    </p>
                    </p>

                    <div class="progress" style="padding:0px 0px 0px 0px;">
                        <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" style="width: ViewBag.Percentage%">
                            @ViewBag.Percentage %
                            @*<span>@ViewBag.Percentage %</span>*@
                        </div>
                    </div>

                    <div style="border-bottom:2px solid #d6d6d6; padding:0px 0px 25px 0px;">
                        <span style="float:left">@Model.Collection.Amount € récoltés sur @Model.ProjectStepsList.First().Amount € </span>
                        <span style="float:right"> @Model.TimeLeftProject.Days Jours restants</span>
                    </div>
                    @if (Model.Authentify)
                    {
                        if (Model.Account.Role == "participant")
                        {
                            <div class="container" style="padding: 10px">
                                <!--<h1 class="counter-display">(..)</h1>
                 <button class="counter-minus">-</button>
                <button class="counter-plus">+</button>-->
                                <!--second option-->
                                <div>
                                    <div class="row" style="padding: 0px 0px 0px 5px">
                                        <div class="col-sm-6" style="position: center; padding: 0px 0px 0px 0px">

                                            @{string pagelink2 = "/Project/AddFavoriteOnClik/" + @Model.Project.Id;}
                                            <form method="post" action="@pagelink2">
                                                <button type="submit" class="btn btn-success float-right" width="7px"
                                                        style="text-decoration:none">
                                                    Je suis! <i class="fa fa-heart"></i> @Model.Project.HeartCounter
                                                </button>
                                            </form>
                                            <!--  <a href="#" class="btn btn-success" width="7px"
                            style="text-decoration:none">
                             Je suis!  <i class="fa fa-heart"></i>    Model.Project.HeartCounter
                                                                    </a>-->
                                            @*@using (Html.BeginForm(FormMethod.Post))
                                {
                                    //Html.HiddenFor(m => m.Project.HeartCounter)

                                    <button type="submit">Je suis! <i class="fa fa-heart"></i> @Model.Project.HeartCounter</button>
                                }*@
                                            <!--<a href="#" class="btn btn-success" width="7px"
                               style="text-decoration:none">
                                Je suis!  <i class="fa fa-heart"></i>    Model.Project.HeartCounter
                            </a>-->
                                        </div>

                                        <div class="col-sm-6" style="position: center; padding: 0px 0px 0px 0px">
                                            @{string pagelink3 = "/Project/projectPage/" + @Model.Project.Id;}
                                            <button onclick="copyToClipboard('#pagelink3')" class="btn btn-success float-right" width="7px"
                                                    style="text-decoration:none">
                                                Je partage <i class="fa fa-share-alt-square"></i>
                                            </button>
                                            <!-- <a href="pagelink3" class="btn btn-success" action="co" id="shareLink" width="7px"
                               style="text-decoration:none" onclick="" copyToClipboard('#shareLink')"">
                                Je partage <i class="fa fa-share-alt-square"></i>
                            </a>-->
                                        </div>


                                    </div>
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="container" style="padding: 10px">

                                <!--second option-->
                                <div>
                                    <div class="row" style="padding: 0px 0px 0px 5px">
                                        <div class="col-sm-6" style="position: center; padding: 0px 0px 0px 0px">

                                            <!--second option {string pagelink2 = "/Project/AddFavoriteOnClik/" + Model.Project.Id;}
                            <form method="post" action="pagelink2">-->
                                            <button class="btn btn-success float-right" width="7px"
                                                    style="text-decoration:none"; data-bs-toggle="popover" ; title="Authentifiez-vous comme participant pour suivre ce projet">
                                                Je suis! <i class="fa fa-heart"></i> @Model.Project.HeartCounter
                                            </button>
                                            <!-- </form>-->
                                        </div>

                                        <div class="col-sm-6" style="position: center; padding: 0px 0px 0px 0px">
                                            @{string pagelink3 = "/Project/projectPage/" + @Model.Project.Id;}
                                            <a href="@pagelink3" class="btn btn-success" action="co" id="shareLink" width="7px"
                                               style="text-decoration:none" onclick="" copyToClipboard('#shareLink')"">
                                                Je partage <i class="fa fa-share-alt-square"></i>
                                            </a>
                                        </div>


                                    </div>
                                </div>
                            </div>

                        }
                    }
                    else
                    { <div class="container" style="padding: 10px">

                            <!--second option-->
                            <div>
                                <div class="row" style="padding: 0px 0px 0px 5px">
                                    <div class="col-sm-6" style="position: center; padding: 0px 0px 0px 0px">

                                        <!--second option {string pagelink2 = "/Project/AddFavoriteOnClik/" + Model.Project.Id;}
                        <form method="post" action="pagelink2">-->
                                        <button class="btn btn-success float-right" width="7px"
                                                style="text-decoration:none" data-bs-toggle="popover" ; title="Authentifiez-vous comme participant pour suivre ce projet">
                                            Je suis! <i class="fa fa-heart"></i> @Model.Project.HeartCounter
                                        </button>
                                        <!-- </form>-->
                                    </div>

                                    <div class="col-sm-6" style="position: center; padding: 0px 0px 0px 0px">
                                        @{string pagelink3 = "/Project/projectPage/" + @Model.Project.Id;}
                                        <a href="@pagelink3" class="btn btn-success" action="co" id="shareLink" width="7px"
                                           style="text-decoration:none" onclick="" copyToClipboard('#shareLink')"">
                                            Je partage <i class="fa fa-share-alt-square"></i>
                                        </a>
                                    </div>


                                </div>
                            </div>
                        </div>

                    }
                    @if (Model.Authentify)
                    {
                        @if (Model.Account.Role == "participant")
                        {
                            string pagelink1 = "/Payments/ProjectPaymentPage/" + @Model.Project.Id;
                            <div>
                                <div class="row" style="padding: 0px 0px 0px 5px">
                                    <div class="col-sm-6" style="position: relative; padding: 0px 0px 0px 0px">

                                        <a href="@pagelink1" class="btn btn-success float-right" width="7px"
                                           style="text-decoration:none">
                                            Je veux Contribuer <img style="width:auto;"
                                                                    src="~/Images/ar.png" alt="" />
                                        </a>
                                    </div>
                                    @if (Model.ProjectOwner.VolunteerDescritpion != null)
                                    {

                                        string pagelink = "/ProjectOwner/POPage/" + @Model.ProjectOwner.Id;

                                        <div class="col-sm-6" style="position: relative; padding: 0px 0px 0px 0px">
                                            <a href="@pagelink/#contactUs" class="btn btn-success float-left" width="7px"
                                               style="text-decoration:none" onclick="">
                                                Je suis bénévole! <img style="width:auto;"
                                                                       src="~/Images/ar.png" alt="" />
                                            </a>
                                        </div>

                                    }

                                </div>
                            </div>

                        }
                        else
                        {//meme bloc en haut mais sans increment, pop up qui dis inscivez vous pour nous rejoindre
                            <!--string pagelink1 = "/Payments/ProjectPaymentPage/" + Model.Project.Id;-->
                            <div>
                                <div class="row" style="padding: 0px 0px 0px 5px">
                                    <div class="col-sm-6" style="position: relative; padding: 0px 0px 0px 0px">

                                        <a href="#" class="btn btn-success float-right" width="7px"
                                           style="text-decoration:none" data-bs-toggle="popover" ; title="Authentifiez-vous comme participant pour contribuer">
                                            Je veux Contribuer <img style="width:auto;"
                                                                    src="~/Images/ar.png" alt="" />
                                        </a>
                                    </div>
                                    @if (Model.ProjectOwner.VolunteerDescritpion != null)
                                    {

                                        string pagelink = "/ProjectOwner/POPage/" + @Model.ProjectOwner.Id;

                                        <div class="col-sm-6" style="position: relative; padding: 0px 0px 0px 0px">
                                            <a href="@pagelink/#contactUs" class="btn btn-success float-left" width="7px"
                                               style="text-decoration:none"  data-bs-toggle="popover" ; title="Authentifiez-vous comme participant pour vous porter bénévole"onclick="">
                                                Je suis bénévole! <img style="width:auto;"
                                                                       src="~/Images/ar.png" alt="" />
                                            </a>
                                        </div>

                                    }

                                </div>
                            </div>

                        }
                    }
                    else
                    {
                        //meme bloc en haut mais sans increment, pop up qui dis inscivez vous pour nous rejoindre
                        <!--string pagelink1 = "/Payments/ProjectPaymentPage/" + Model.Project.Id;-->
                        <div>
                            <div class="row" style="padding: 0px 0px 0px 5px">
                                <div class="col-sm-6" style="position: relative; padding: 0px 0px 0px 0px">

                                    <a href="#" class="btn btn-success float-right" width="7px"
                                       style="text-decoration:none" data-bs-toggle="popover" ; title="Authentifiez-vous comme participant pour contribuer">
                                        Je veux Contribuer <img style="width:auto;"
                                                                src="~/Images/ar.png" alt="" />
                                    </a>
                                </div>
                                @if (Model.ProjectOwner.VolunteerDescritpion != null)
                                {

                                    string pagelink = "/ProjectOwner/POPage/" + @Model.ProjectOwner.Id;

                                    <div class="col-sm-6" style="position: relative; padding: 0px 0px 0px 0px">
                                        <a href="@pagelink/#contactUs" class="btn btn-success float-left" width="7px"
                                           style="text-decoration:none" data-bs-toggle="popover" ; title="Authentifiez-vous comme participant pour vous porter bénévole" onclick="">
                                            Je suis bénévole! <img style="width:auto;"
                                                                   src="~/Images/ar.png" alt="" />
                                        </a>
                                    </div>

                                }

                            </div>
                        </div>
                    }



                </div>
            </div>
        </div>
        <div class="container mt-3">
            <br>
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" data-bs-toggle="tab" href="#home">L'histoire</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-bs-toggle="tab" href="#menu1">Le projet</a>
                </li>
                <li class="nav-item" id="recolte">
                    <a class="nav-link" data-bs-toggle="tab" href="#menu2">La récolte</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-bs-toggle="tab" href="#menu3">Contrepartie</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-bs-toggle="tab" href="#menu4">FAQ</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-bs-toggle="tab" href="#menu5">Commentaires</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-bs-toggle="tab" href="#menu6">Témoignages</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-bs-toggle="tab" href="#menu7">Contributions</a>
                </li>

            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                <div id="home" class="container tab-pane active">
                    <br>
                    
                    <!-- Section heading -->
                    <section class="team-section text-center my-5"
                             style="background-color: rgb(173, 209, 42);opacity:0.8;">
                        <h2 class="h1-responsive font-weight-bold my-5">L'histoire</h2>
                        <!-- Section description -->
                        <div class="container mt-5" align="justify" style="text-align:justify">
                            <div class="row">
                                <div class="col-sm-7">

                                    <div class="border-MACS">

                                        <div class="mode-vert pt-4 px-4">
                                            <h6 style="font-size: 30px; color: rgb(63, 63, 63)">@Model.Project.Name</h6>
                                            <p style="font-size: 14px">@Model.Project.Summary</p>
                                        </div>

                                        <div class="pb-4 px-4">
                                            <img src="@Model.Project.Picture" alt="Flood" class="d-block" style="width:100%; margin: auto;">
                                        </div>
                                        <div class="mode-vert pt-4 px-4">
                                            <h6 style="font-size: 30px;">Description du projet</h6>
                                            <p style="font-size: 14px">@Model.Project.Descritpion</p>
                                        </div>



                                    </div>
                                </div>

                                <div class="col-sm-5">
                                    <div class="border-MACS">
                                        <div class="mode-vert ms-3">

                                            <p style="font-size: 14px"> <br\> <br\> <br\><br\></p>
                                            <p style="font-size: 14px">@Model.Project.Descritpion</p>
                                           
                                        </div>

                                    </div>
                                </div>
                        </div>
                            <!-- Section: Description -->
                            
                            <!-- Grid row 
                            <div class="row">

                                <!--
                                    <div class="col-lg-3 col-md-6 mb-lg-0 mb-5">
                                        <div class="avatar mx-auto">
                                            <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(20).webp"
                                                 class="rounded-circle z-depth-1" alt="Sample avatar">
                                        </div>
                                        <h5 class="font-weight-bold mt-4 mb-3">Anna Williams</h5>
                                        <p class="text-uppercase blue-text"><strong>Professeur d'art</strong></p>
                                        <p class="grey-text">
                                            Neque porro quisquam est, qui dolorem ipsum quia dolor
                                            sit
                                            amet, consectetur,
                                            adipisci sed quia non numquam modi tempora eius.
                                        </p>
                                    
                            </div>Grid column -->

                                <!-- Grid column -->
                                <!-- Grid column 
                                <div class="col-lg-3 col-md-6 mb-lg-0 mb-5">
                                    <div class="avatar mx-auto">
                                        <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(3).webp"
                                             class="rounded-circle z-depth-1" alt="Sample avatar">
                                    </div>
                                    <h5 class="font-weight-bold mt-4 mb-3">John Doe</h5>
                                    <p class="text-uppercase blue-text"><strong>Comptable</strong></p>
                                    <p class="grey-text">
                                        Sed ut perspiciatis unde omnis iste natus error sit
                                        voluptatem ipsa accusantium
                                        doloremque rem laudantium totam aperiam.
                                    </p>

                                </div>-->
                                <!-- Grid column -->
                                <!-- Grid 
                                <div class="col-lg-3 col-md-6 mb-md-0 mb-5">
                                    <div class="avatar mx-auto">
                                        <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(30).webp"
                                             class="rounded-circle z-depth-1" alt="Sample avatar">
                                    </div>
                                    <h5 class="font-weight-bold mt-4 mb-3">Maria Smith</h5>
                                    <p class="text-uppercase blue-text"><strong>Photographer</strong></p>
                                    <p class="grey-text">
                                        Excepteur sint occaecat cupidatat non proident, sunt in
                                        culpa qui officia deserunt
                                        mollit anim est fugiat nulla id eu laborum.
                                    </p>

                                </div>column -->
                                <!-- Grid column -->
                                <!-- Grid column 
                                <div class="col-lg-3 col-md-6">
                                    <div class="avatar mx-auto">
                                        <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(32).webp"
                                             class="rounded-circle z-depth-1" alt="Sample avatar">
                                    </div>
                                    <h5 class="font-weight-bold mt-4 mb-3">Tom Adams</h5>
                                    <p class="text-uppercase blue-text"><strong>Ingénieur son</strong></p>
                                    <p class="grey-text">
                                        Perspiciatis repellendus ad odit consequuntur, eveniet
                                        earum nisi qui consectetur
                                        totam officia voluptates perferendis voluptatibus aut.
                                    </p>

                                </div>-->
                                <!-- Grid column -->

                            <!-- </div>  -->
                            <!-- Grid row -->

                    </section>
                                    <!-- Section: Idée v.1 -->
                                   
                                    
                                   
                </div>

                <div id="menu1" class="container tab-pane fade">
                    <br>
                    <section class="team-section text-center my-5"
                             style="background-color: rgb(173, 209, 42);opacity:0.8;">
                        <h2 class="h1-responsive font-weight-bold my-5">Le projet</h2>
                        <!-- Section description -->

                        <p>
                            @Model.Project.Descritpion
                            <!-- foreach (var s in Model.Project.Descritpion) {
                                if (s == '.')
                                {<br /> }

                            }-->
                        </p>
                        <h5>Le besoin (qui, pour qui, combien)</h5>
                        <h5>Le plan d'action</h5>
                        <h5>Les objectifs et jalons</h5>
                        <h5>Les partenaires</h5>
                        <div class="container mt-3">
                            <div class="row">
                                <div class="col-lg-5 col-sm-5 col-md-5">
                                    <img class="card-img-top" src="~/Images/ouragon.png" alt="Card image"
                                         style="width:100%;border-radius: 14px;">
                                </div>
                                <div class="col-lg-7 col-sm-7 col-md-7">
                                    <div class="card-header" style="background-color:white; ">
                                        <h4 class="card-title">Une second texte de katrina</h4>
                                        <p class="card-text">
                                        <p>
                                            Sunt in culpa qui officia deserunt mollit anim id est laborum
                                            consectetur
                                            adipiscing
                                            elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                            Ut enim ad minim
                                            veniam, quis nostrud exercitation ullamco.
                                        </p><br\>
                                            <p>
                                                Sunt in culpa qui officia deserunt mollit anim id est laborum
                                                consectetur
                                                adipiscing
                                                elit,
                                                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                                Ut
                                                enim ad minim
                                                veniam,
                                                quis nostrud exercitation ullamco.
                                            </p>
                                            <p>
                                                Sunt in culpa qui officia deserunt mollit anim id est laborum
                                                consectetur
                                                adipiscing
                                                elit,
                                                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                                Ut
                                                enim ad minim
                                                veniam,
                                                quis nostrud exercitation ullamco.
                                            </p>
                                    </div>


                                </div>
                                <p>
                                    Sunt in culpa qui officia deserunt mollit anim id est laborum
                                    consectetur
                                    adipiscing
                                    elit,
                                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                    Ut
                                    enim ad minim
                                    veniam,
                                    quis nostrud exercitation ullamco.
                                </p></br>
                                <p>
                                    Sunt in culpa qui officia deserunt mollit anim id est laborum
                                    consectetur
                                    adipiscing
                                    elit,
                                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                    Ut
                                    enim ad minim
                                    veniam,
                                    quis nostrud exercitation ullamco.
                                </p>
                            </div>
                        </div>
                    </section>

                </div>
                <div id="menu2" class="container tab-pane fade">
                    <br>
                    <!-- Section: Idée v.1 -->
                    <section class="team-section text-center my-5"
                             style="background-color:rgb(173, 209, 42);opacity:0.8;">

                        <!-- Section heading -->
                        <h2 class="h1-responsive font-weight-bold my-5">Le besoin du projet</h2>
                        <h4>Description des palliers</h4>
                        <p>
                            @foreach (var Step in Model.ProjectStepsList)
                            {
                                <div>
                                    <h2> L'identifiant de ce pallier est: @Step.Id</h2>
                                    <h3>Le montant de ce pallier est @Step.Amount €</h3>
                                    <p>Description: @Step.Description</p>
                                </div>
                                <br />
                            }
                            Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur
                            adipiscing
                            elit,sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
                            minimveniam,quis nostrud exercitation ullamco.
                        </p>
                        <p>
                            Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur
                            adipiscing
                            elit,sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
                            minim
                            veniam,quis nostrud exercitation ullamco.
                        </p>
                        <h4>Description dons matériels</h4>
                        <p>
                            @Model.Project.MaterialDonation
                        </p>
                        <h4>Description des tâches de bénévolats</h4>
                        <p>
                            Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur
                            adipiscing
                            elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
                            minim  veniam, quis nostrud exercitation ullamco.
                        </p>
                    </section>
                </div>
                <div id="menu3" class="container tab-pane fade">
                    <br>
                    <h3>Contreparties</h3>
                    <p>
                        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                        laudantium, totam rem aperiam.
                    </p>
                    <div class="card" style="border-radius: 14px;">
                        <h4 class="card-title">Ouragon de Cathrina, USA</h4>
                        <p>
                            Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur
                            adipiscing
                            elit,
                            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
                            minim
                            veniam,
                            quis nostrud exercitation ullamco.
                        </p>
                        <p>
                            Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur
                            adipiscing
                            elit,
                            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
                            minim
                            veniam,
                            quis nostrud exercitation ullamco.
                        </p>
                        <p>
                            Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur
                            adipiscing
                            elit,
                            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
                            minim
                            veniam,
                            quis nostrud exercitation ullamco.
                        </p>
                    </div>

                </div>
                <div id="menu4" class="container tab-pane fade ">
                    <br>
                    <h3>FAQ</h3>
                    <p>
                        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                        laudantium, totam rem aperiam.
                    </p>
                </div>
                <div id="menu5" class="container tab-pane fade">
                    <br>
                    <h3>Commentaires</h3>
                    <h5>Commentaires des passants ou des participants</h5>
                    <p>
                        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                        laudantium, totam rem aperiam.
                    </p>
                </div>
                <div id="menu6" class="container tab-pane fade">
                    <br>
                    <h3>Témoignages</h3>
                    <p>
                        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                        laudantium, totam rem aperiam.
                    </p>
                    <h5>Témoignages: Partenaire</h5>
                    <h5>Témoignages: Bénéficiares</h5>
                    <h5>Témoignages: Bénévoles de l'association</h5>
                </div>
                <div id="menu7" class="container tab-pane fade">
                    <br>
                    <h3>Contributions</h3>
                    <p>
                        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                        laudantium, totam rem aperiam.
                    </p>
                    <h5>Historique des contributions</h5>
                </div>

            </div>
        </div>





    </div>

</div>
    </div>

@section Footer
    {
    <div class="newsletter-subscribe container">
        <div class="container">
            <div class="intro">
                <h2 class="text-center newsletter">Inscrivez-vous à notre newsletter</h2>
                <p class="text-center">Recevez de nouveaux projets dans votre boite chaque semaine !</p>
            </div>
            <form class="row" method="post">
                <div class="col-md-6"><input class="form-control" type="email" name="email" placeholder="Votre Email"></div>
                <div class="col-md-2"><button class="btn btn-primary" type="button">S'abonner </button></div>
            </form>

        </div>
    </div>
}


