@model Projet2Crowdfunding.ViewModels.AccountViewModel

@{
    Layout = "_LayoutDuSite2";
}
<link rel="stylesheet" type="text/css" href="~/css/Login.css">
<title>MACSynergy Login</title>

@section Menu
{
    <a class="nav-link" id="nav-elements" href="/Home/Index"><strong>HOME</strong></a>
    <a class="nav-link" id="nav-elements" href="/Project/ProjectPage"><strong>DECOUVRIR UN PROJET</strong></a>
    <a class="nav-link" id="nav-elements" href="#"><strong>LANCER UN PROJET</strong></a>
}


    <fieldset>

        @using (Html.BeginForm())
        {
            <h1>Bienvenue</h1>
            <br />

            @Html.LabelFor(model => model.Account.Mail)
            @Html.TextBoxFor(model => model.Account.Mail, new { placeholder = "Adresse e-mail" })
            @Html.ValidationMessageFor(model => model.Account.Mail)

            <br>
            <br />
            @Html.LabelFor(model => model.Account.Password)
            @Html.TextBoxFor(model => model.Account.Password, new { placeholder = "Mot de passe" })
            @Html.ValidationMessageFor(model => model.Account.Password)

            <br />
            @*<div class="form-check">
                    <input class="form-check-input" type="checkbox" id="check2" name="Rester connecté" value="something">
                    <label class="form-check-label">Rester connecté?</label>
                </div>
                <br />
                <br />*@

            @Html.ActionLink("Mot de passe oublié ?", "ForgetPassword")

            <br />
            <br />

            <button id="bouton-log" type="submit">SE CONNECTER</button>

            <br />
            <br />
            <label for="Première fois sur MACSynergie?">Première fois sur MACSynergie?</label>
            @Html.ActionLink("Inscrivez-vous!", "InscriptionChoice")
        }


    </fieldset>





