@using Projet2Crowdfunding.Models
@model Projet2Crowdfunding.Models.Participant

@{
    Layout = "_LayoutDuSite";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ModifyParticipant</title>
</head>
<body>
    @using (Html.BeginForm("ModifyParticipant", "Participant", FormMethod.Post))
    {
    <fieldset>
        <legend>Modifier le participant : </legend>
        @Html.LabelFor(m => Model.FirstName)
        @Html.TextBoxFor(m => Model.FirstName)

        @Html.LabelFor(m => Model.LastName)
        @Html.TextBoxFor(m => Model.LastName)

        @Html.LabelFor(m => Model.Gender)
        @Html.DropDownListFor(m => Model.Gender,
            new SelectList(Enum.GetValues(typeof(Gender))),
            "Sélectionnez le genre")

        @*@Html.LabelFor(m => Model.PhoneNumber)
        @Html.TextBoxFor(m => Model.PhoneNumber)

        @Html.LabelFor(m => Model.Birthdate)
        @Html.TextBoxFor(m => Model.Birthdate, "{0:yyyy-MM-dd}", new { @type = "date" , @class = "Selection"})

        @Html.HiddenFor(m => Model.Account)
        @Html.HiddenFor(m => Model.Address)*@

        <input type="submit" value="Modifier" />

    </fieldset>
    }
</body>
</html>
