@model Projet2Crowdfunding.ViewModels.AccountViewModel
@{
    Layout = "_LayoutDuSite";
}
<link rel="stylesheet" href="~/css/dashbord.css">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<title>Dashboard</title>



@section Menu
{
    @if (Model.Authentify)
    {
        if (Model.Account.Role == "participant")
        {
            <div class="col-md-8 d-flex justify-content-around">
                <a class="nav-link" id="nav-elements" href="/Home/Index"><strong>HOME</strong></a>
                <a class="nav-link" id="nav-elements" href="/Project/Index"><strong>DECOUVRIR UN PROJET</strong></a>
                <a class="nav-link" id="nav-elements" href="/CreateProject/Index"><strong>LANCER UN PROJET</strong></a>
                <a class="nav-link" id="nav-active" href="/Participant/PDashboard"><strong>MON COMPTE</strong></a>
            </div>
            <div class="col-md-2 d-flex justify-content-end align-items-center">
                <a id="bouton-log" href="/Account/Deconnexion">SE DECONNECTER</a>
            </div>
        }
        else if (Model.Account.Role == "po")
        {
            <div class="col-md-8 d-flex justify-content-around">
                <a class="nav-link" id="nav-elements" href="/Home/Index"><strong>HOME</strong></a>
                <a class="nav-link" id="nav-elements" href="/Project/Index"><strong>DECOUVRIR UN PROJET</strong></a>
                <a class="nav-link" id="nav-elements" href="/CreateProject/Index"><strong>LANCER UN PROJET</strong></a>
                <a class="nav-link" id="nav-active" href="/ProjectOwner/PODashboard"><strong>MON COMPTE</strong></a>
            </div>
            <div class="col-md-2 d-flex justify-content-end align-items-center">
                <a id="bouton-log" href="/Account/Deconnexion">SE DECONNECTER</a>
            </div>
        }
        else // role == "admin"
        {
            <div class="col-md-8 d-flex justify-content-around">
                <a class="nav-link" id="nav-elements" href="/Home/Index"><strong>HOME</strong></a>
                <a class="nav-link" id="nav-elements" href="/Project/Index"><strong>DECOUVRIR UN PROJET</strong></a>
                <a class="nav-link" id="nav-elements" href="/CreateProject/Index"><strong>LANCER UN PROJET</strong></a>
                <a class="nav-link" id="nav-active" href="/Admin/AdminDashboard"><strong>MON COMPTE</strong></a>
            </div>
            <div class="col-md-2 d-flex justify-content-end align-items-center">
                <a id="bouton-log" href="/Account/Deconnexion">SE DECONNECTER</a>
            </div>
        }
    }
    else
    {
        <div class="col-md-8 d-flex justify-content-around">
            <a class="nav-link" id="nav-elements" href="/Home/Index"><strong>HOME</strong></a>
            <a class="nav-link" id="nav-elements" href="/Project/Index"><strong>DECOUVRIR UN PROJET</strong></a>
            <a class="nav-link" id="nav-elements" href="/CreateProject/Index"><strong>LANCER UN PROJET</strong></a>
        </div>
        <div class="col-md-2 d-flex justify-content-end align-items-center">
            <a id="bouton-log" href="/Account/LoginPage">SE CONNECTER</a>
        </div>
    }
}




<div class="dashboard-container">
    <div class="row">


        <div class="col-sm-3">

            <div class="sidebar position-fixed bg-white border-MACS">
                <ul class="nav flex-column nav-pills" role="tablist" aria-orientation="vertical">
                    <li class="nav-item pill-1">
                        <a class="nav-link" data-bs-toggle="pill" href="" onclick="document.location=document.location.toString().split('#')[0]+'#';return false;"><i class="fa fa-tachometer fa-fw me-3"></i>Dashboard</a>
                    </li>
                    <li class="nav-item pill-1">
                        <a class="nav-link active" data-bs-toggle="pill" href="" onclick="document.location=document.location.toString().split('#')[0]+'#row-infos';return false;"><i class="fa fa-info fa-fw me-3"></i>Informations</a>
                    </li>
                    <li class="nav-item pill-1">
                        <a class="nav-link" data-bs-toggle="pill" href="" onclick="document.location=document.location.toString().split('#')[0]+'#row-address';return false;"><i class="fa fa-address-card-o fa-fw me-3"></i>Adresse</a>
                    </li>
                    <li class="nav-item pill-1">
                        <a class="nav-link" data-bs-toggle="pill" href="" onclick="document.location=document.location.toString().split('#')[0]+'#row-phone';return false;"><i class="fa fa-phone fa-fw me-3"></i>Téléphone</a>
                    </li>
                    <li class="nav-item pill-1">
                        <a class="nav-link" data-bs-toggle="pill" href="" onclick="document.location=document.location.toString().split('#')[0]+'#row-email';return false;"><i class="fa fa-envelope-o fa-fw me-3"></i>Email</a>
                    </li>
                    <li class="nav-item pill-1">
                        <a class="nav-link" data-bs-toggle="pill" href="" onclick="document.location=document.location.toString().split('#')[0]+'#row-pwd';return false;"><i class="fa fa-key me-3"></i>Mot de passe</a>
                    </li>
                    <li class="nav-item pill-1">
                        <a class="nav-link" data-bs-toggle="pill" href="" onclick="document.location=document.location.toString().split('#')[0]+'#row-favorite';return false;"><i class="fa fa-heart-o fa-fw me-3"></i>Coups de coeur</a>
                    </li>
                    <li class="nav-item pill-1">
                        <a class="nav-link" data-bs-toggle="pill" href="" onclick="document.location=document.location.toString().split('#')[0]+'#row-payment';return false;"><i class="fa fa-money fa-fw me-3"></i>Paiements</a>
                    </li>
                </ul>

            </div>
        </div>

        <div class="col-sm-9">


            <div class="main-content">

                <div class="row-content border-MACS">
                    <div id="row-infos"></div>
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-5"><a><strong>Nom: </strong>@Model.Participant.LastName</a></div>
                            <div class="col-md-5"><a><strong>Prénom: </strong>@Model.Participant.FirstName</a></div>
                            <div class="col-md-2">

                                <div class="container">
                                    <button type="button" class="btn btn-outline-dark" data-bs-toggle="modal" data-bs-target="#infosModal">
                                        Modifier
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-5"><a><Strong>Genre: </Strong>@Model.Participant.Gender</a></div>
                            <div class="col-md-5"><a><strong>Date de naissance: </strong>@Model.Participant.Birthdate.ToShortDateString()</a></div>
                        </div>
                    </div>

                </div>

                <div class="row-content border-MACS">
                    <div id="row-address"></div>
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-2"><a><strong>N°: </strong>@Model.Participant.Address.StreetNumber</a></div>
                            <div class="col-md-8"><a><strong>Rue: </strong>@Model.Participant.Address.StreetName</a></div>
                            <div class="col-md-2">

                                <div class="container">
                                    <button type="button" class="btn btn-outline-dark" data-bs-toggle="modal" data-bs-target="#addressModal">
                                        Modifier
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2"><a><strong>CP: </strong>@Model.Participant.Address.ZipCode</a></div>
                            <div class="col-md-3"><a><strong>Ville: </strong>@Model.Participant.Address.City</a></div>
                            <div class="col-md-7"><a><strong>Pays: </strong>@Model.Participant.Address.Country</a></div>
                        </div>
                    </div>

                </div>

                <div class="row-content border-MACS">
                    <div id="row-phone"></div>
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-10"><a><strong>Téléphone: </strong>@Model.Participant.PhoneNumber</a></div>
                            <div class="col-md-2">

                                <div class="container">
                                    <button type="button" class="btn btn-outline-dark" data-bs-toggle="modal" data-bs-target="#phoneModal">
                                        Modifier
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="row-content border-MACS">
                    <div id="row-email"></div>
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-10"><a><strong>E-mail: </strong>@Model.Account.Mail</a></div>
                            <div class="col-md-2">

                                <div class="container">
                                    <button type="button" class="btn btn-outline-dark" data-bs-toggle="modal" data-bs-target="#emailModal">
                                        Modifier
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="row-content border-MACS">
                    <div id="row-pwd"></div>
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-10"><a><strong>Mot de passe</strong></a></div>
                            <div class="col-md-2">

                                <div class="container">
                                    <button type="button" class="btn btn-outline-dark" data-bs-toggle="modal" data-bs-target="#pwdModal">
                                        Modifier
                                    </button>
                                </div>
                            </div>



                        </div>
                    </div>

                </div>

                <div class="row-content border-MACS">
                    <div id="row-favorite"></div>
                    <div class="col-md-12">
                        <a><strong>Projets favoris</strong></a>
                        <div class="container mt-3">
                            <table class="table table-striped">
                                <thead>
                                    <tr style="text-align: center">
                                        <th>Nom</th>
                                        <th>Catégorie</th>
                                        <th>Localisation</th>
                                        <th>Date de début</th>
                                        <th>Date de fin</th>
                                        <th>Montant récolté</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var Project in Model.ProjectList)
                                        {
                                            string pagelink = "/Project/projectPage/" + Project.Id;
                                            <tr onclick='window.location.href="@pagelink";' style="cursor: pointer; text-align:center">
                                                <td>@Project.Name</td>
                                                <td>@Project.Category</td>
                                                <td>@Project.Location</td>
                                                <td>@Project.StartDate</td>
                                                <td>@Project.EndDate</td>
                                                @foreach (var Collection in Model.CollectionList)
                                                {
                                                    if (Collection.ProjectId == Project.Id)
                                                    {

                                                        <td>@Collection.Amount €</td>
                                                    }
                                                }


                                            </tr>

                                        }
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>

                <div class="row-content border-MACS">
                    <div id="row-payment"></div>
                    <div class="col-md-12">
                        <a><strong>Paiements</strong></a>
                        <div class="container mt-3">
                            <table class="table table-striped">
                                <thead>
                                    <tr style="text-align: center">
                                        <th>Nom</th>
                                        <th>Catégorie</th>
                                        <th>Localisation</th>
                                        <th>Montant payé</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @for (int i = 0; i < Model.ProjectList2.Count; i++)
                                    {
                                        string pagelink = "/Project/projectPage/" + @Model.ProjectList2[i].Id;
                                            <tr onclick='window.location.href="@pagelink";' style="cursor: pointer; text-align:center">
                                                <td>@Model.ProjectList2[i].Name</td>
                                                <td>@Model.ProjectList2[i].Category</td>
                                                <td>@Model.ProjectList2[i].Location</td>
                                                <td>@Model.DonationList[i].Amount</td>

                                            </tr>

                                        }
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </div>


        </div>
    </div>


</div>

<!-- The infosModal -->
<div class="modal" id="infosModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header clearfix">
                <div class="mx-auto"><h3>Changez vos informations personnelles</h3></div>
                <span class="float-end"><button type="button" class="btn-close" data-bs-dismiss="modal"></button></span>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="text-center border rounded-3 p-3">
                                <p>Modifiez les champs nécessaires</p>
                                <div class="panel-body">
                                    <fieldset class="d-grid">
                                        @using (Html.BeginForm("ModifyParticipantInfos", "Participant"))
                                        {
                                            <div class="form-group">
                                                @Html.HiddenFor(m => m.Participant.Id)
                                                @Html.TextBoxFor(m => m.Participant.LastName, new { @class = "form-control input-lg mt-2", placeholder = "Nom" })
                                                <div style="padding-bottom:10px">@Html.TextBoxFor(m => m.Participant.FirstName, new { @class = "form-control input-lg mt-2", placeholder = "Prénom" })</div>
                                                <div class="col-md-10">
                                                    <span style="margin:30px">
                                                        Homme
                                                        @Html.RadioButtonFor(m => m.Participant.Gender, "0", new { @class = "margin-right:10px" })
                                                    </span>
                                                    <span style="margin-right:30px">
                                                        Femme
                                                        @Html.RadioButtonFor(m => m.Participant.Gender, "1")
                                                    </span>
                                                    Autre
                                                    @Html.RadioButtonFor(m => m.Participant.Gender, "2")
                                                </div>
                                                @Html.TextBoxFor(m => m.Participant.Birthdate, new { @class = "form-control input-lg mt-2", placeholder = "Date de naissance" })

                                            </div>
                                            <input class="btn btn-primary btn-block mt-3" value="Validez" type="submit">
                                        }
                                    </fieldset>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer border-top-0">
                <button type="button" class="btn btn-outline-dark" data-bs-dismiss="modal">Annuler</button>
            </div>

        </div>
    </div>
</div>


<!-- The addressModal -->
<div class="modal" id="addressModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header clearfix">
                <div class="mx-auto"><h3>Changez votre adresse</h3></div>
                <span class="float-end"><button type="button" class="btn-close" data-bs-dismiss="modal"></button></span>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="text-center border rounded-3 p-3">
                                <p>Modifiez les champs nécessaires</p>
                                <div class="panel-body">
                                    <fieldset class="d-grid">
                                        @using (Html.BeginForm("ModifyParticipantAddress", "Participant"))
                                        {
                                            <div class="form-group">
                                                @Html.HiddenFor(m => m.Participant.Id)
                                                @Html.TextBoxFor(m => Model.Participant.Address.StreetNumber, new { @class = "form-control input-lg mt-2", placeholder = "N°" })
                                                @Html.TextBoxFor(m => Model.Participant.Address.StreetName, new { @class = "form-control input-lg mt-2", placeholder = "Rue" })
                                                @Html.TextBoxFor(m => Model.Participant.Address.ZipCode, new { @class = "form-control input-lg mt-2", placeholder = "CP" })
                                                @Html.TextBoxFor(m => Model.Participant.Address.City, new { @class = "form-control input-lg mt-2", placeholder = "Ville" })
                                                @Html.TextBoxFor(m => Model.Participant.Address.Country, new { @class = "form-control input-lg mt-2", placeholder = "Pays" })
                                            </div>
                                            <input class="btn btn-primary btn-block mt-3" value="Validez" type="submit">
                                        }
                                    </fieldset>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer border-top-0">
                <button type="button" class="btn btn-outline-dark" data-bs-dismiss="modal">Annuler</button>
            </div>

        </div>
    </div>
</div>


<!-- The phoneModal -->
<div class="modal" id="phoneModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header clearfix">
                <div class="mx-auto"><h3>Changez votre téléphone</h3></div>
                <span class="float-end"><button type="button" class="btn-close" data-bs-dismiss="modal"></button></span>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="text-center border rounded-3 p-3">
                                <p>Rentrez un numéro de téléphone valide</p>
                                <div class="panel-body">
                                    <fieldset class="d-grid">
                                        @using (Html.BeginForm("ModifyParticipantPhone", "Participant"))
                                        {
                                            @Html.HiddenFor(m => m.Participant.Id)
                                            <div class="form-group">
                                                @Html.TextBoxFor(m => m.Participant.PhoneNumber, new { @class = "form-control input-lg mt-2", placeholder = "Téléphone" })
                                            </div>
                                            <input class="btn btn-primary btn-block mt-3" value="Validez" type="submit">
                                        }
                                    </fieldset>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer border-top-0">
                <button type="button" class="btn btn-outline-dark" data-bs-dismiss="modal">Annuler</button>
            </div>

        </div>
    </div>
</div>

<!-- The emailModal -->
<div class="modal" id="emailModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header clearfix">
                <div class="mx-auto"><h3>Changez votre adresse e-mail</h3></div>
                <span class="float-end"><button type="button" class="btn-close" data-bs-dismiss="modal"></button></span>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="text-center border rounded-3 p-3">
                                <p>Rentrez une adresse e-mail valide</p>
                                <div class="panel-body">
                                    <fieldset class="d-grid">
                                        @using (Html.BeginForm("ModifyParticipantEmail", "Participant"))
                                        {
                                            @Html.HiddenFor(m => m.Account.Id)
                                            <div class="form-group">
                                                @Html.TextBoxFor(m => m.Account.Mail, new { @class = "form-control input-lg mt-2", placeholder = "Téléphone" })
                                            </div>
                                            <input class="btn btn-primary btn-block mt-3" value="Validez" type="submit">
                                        }
                                    </fieldset>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer border-top-0">
                <button type="button" class="btn btn-outline-dark" data-bs-dismiss="modal">Annuler</button>
            </div>

        </div>
    </div>
</div>

<!-- The pwdModal -->
<div class="modal" id="pwdModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header clearfix">
                <div class="mx-auto"><h3>Changez votre mot de passe</h3></div>
                <span class="float-end"><button type="button" class="btn-close" data-bs-dismiss="modal"></button></span>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="text-center border rounded-3 p-3">
                                <p>Rentrez un mot de passe de 8 caractères</p>
                                <div class="panel-body">
                                    <fieldset class="d-grid">
                                        @using (Html.BeginForm("ModifyParticipantPwd", "Participant"))
                                        {
                                            @Html.HiddenFor(m => m.Account.Id)
                                            <div class="form-group">
                                                @Html.PasswordFor(m => m.Account.Password, new { @class = "form-control input-lg mt-2", placeholder = "Mot de passe" })
                                            </div>
                                            <input class="btn btn-primary btn-block mt-3" value="Validez" type="submit">
                                        }
                                    </fieldset>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer border-top-0">
                <button type="button" class="btn btn-outline-dark" data-bs-dismiss="modal">Annuler</button>
            </div>

        </div>
    </div>
</div>

@section Footer
    {
    <div class="newsletter-subscribe container">
        <div class="container">
            <div class="intro">
                <h2 class="text-center newsletter">Inscrivez-vous à notre newsletter</h2>
                <p class="text-center">Recevez de nouveaux projets dans votre boite chaque semaine !</p>
            </div>
            <form class="row" method="post">
                <div class="col-md-6"><input class="form-control" type="email" name="email" placeholder="Votre Email"></div>
                <div class="col-md-2"><button class="btn btn-primary" type="button">S'abonner </button></div>
            </form>

        </div>
    </div>
}